<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCJ3DJPJttBd-uxNDaBA5ixH7MpVKQ7AHI</string>
	<key>GCM_SENDER_ID</key>
	<string>418831035080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappFlutterFirebase</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-backend-3466f</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-backend-3466f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418831035080:ios:7a6fbb3eb6e52eca9913fd</string>
</dict>
</plist>